<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="description" content="description of your site">
    <meta name="author" content="author of the site">
    <title>Welcome to Roots!</title>
    <link rel="stylesheet" href="css/master.css">
  </head>
  <body>
    <header><a class="toggle"><i class="icon-menu"></i></a>
      <div class="right floated profile">Hi, <span class="name">Darryl</span>
        <div class="label">12</div>
      </div>
    </header>
    <div class="main">
        <h1>{{q[0].question}} <span class="keyword">{{nouns[0].noun}}</span> and <span class="keyword">{{nouns[1].noun}}</span>?
<form name="answer" action="/api/answer" method="post">
<textarea placeholder="I would..." name="answer" class="answer"></textarea>
<input type="hidden" name="q_id" value={{q[0]._id}}></input>
<button role="button" >Send Answer<i class="large-icon icon-arrow-right"></i></button>
</form> 
    </div>
    <footer>
      <ul>
        <li><a href="/">about</a></li>
        <li><a class="divider">|</a></li>
        <li><a href="/">press</a></li>
      </ul>
      <p>&copy; 2013 orgName</p>
    </footer>
    <script data-main="js/main" src="js/require.js"></script>
  </body>
</html>
